{:name "dali"
 ; build
 :lazy true
 :depends-on #{:techml-dataset-cljs}
 :cljs-namespace [dali.viewer
                  dali.cljviewer
                  dali.transform.transit]
 :cljs-ns-bindings {'dali.viewer {'viewer dali.viewer/viewer}
                    'dali.cljviewer {'clj-viewer dali.cljviewer/clj-viewer}
                    'dali.transform.transit {'load-transit dali.transform.transit/load-transit}}}
