{:modular (modular.system/modular-env)  ; {:profile "jetty"  :config ["demo.edn" "secrets.edn"]}
 ;:secrets #include "secrets.edn" ;; externalised and usually "mounted" as a docker/kubernetes secret
 :components
 {:config1 {:start (modular.config/load-config! (:config #ref [:modular]))}
  :config {:start (deref (clip/ref :config1))}

  :exts {:start (extension/discover)}

  :timbre {:start (modular.log/timbre-config!
                   (:timbre/clj (clip/ref :config)))}

  ; empty map means no users are configured, so always permissioned.
  :permission {:start (modular.permission.core/start-permissions {})}

  :clj-service {:start (clj-service.core/start-clj-services
                        (clip/ref :permission)
                        (clip/ref :exts))}

  :docy {:start (docy.core/start-docy
                 {:exts (clip/ref :exts)
                  :clj (clip/ref :clj-service)
                  :role nil
                  :namespaces (:namespaces (:docy  (clip/ref :config)))
                  :snippets (:snippets (:docy (clip/ref :config)))})}
  
  :reval {:start (reval.core/start-reval
                  (merge {:clj  (clip/ref :clj-service)
                          :reval-role nil}
                         (:reval (clip/ref :config))))}
  
  :reval-ui {:start (demo.reval/quanta-default-reval-ui)}

  :webly {:start (webly.spa/start-webly
                  {:exts (clip/ref :exts)}
                  (clip/ref :config)
                  (:profile #ref [:modular]))
          :stop (webly.spa/stop-webly this)}

  :nrepl {:start (nrepl.server/start-server :bind "0.0.0.0" :port 9100)
          :stop (.close this)}

;  
  }}
