{:paths ["src"
         "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  nano-id/nano-id {:mvn/version "1.1.0"}
  babashka/fs {:mvn/version "0.5.22"}
  com.taoensso/telemere {:mvn/version "1.0.0-beta25"}
  org.pinkgorilla/timbre {:mvn/version "0.0.7"}
  io.github.clojure-quant/techml-dataset-cljs {:mvn/version "0.1.15"} ; tml transit.json export
  }}