; saved on 2024-11-21 17:55:34
{:content [{:out "",
            :id :b8f9ab98-8d62-4e35-b427-108e58bf1b73,
            :code "(ns demo.notebook.highchart-step-missing\n  (:require\n   [tablecloth.api :as tc]\n   [rtable.plot :as plot]\n   [demo.random-bars :refer [random-bar-ds]]\n   [demo.env :refer [env]]))",
            :ns "demo.notebook.highchart-step-missing",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "grey"}}
                            "nil"]}}
           {:out "",
            :id :71c71ced-14c1-4409-98b6-3b0425410a06,
            :code "(def ds\n  (random-bar-ds 100))",
            :ns "demo.notebook.highchart-step-missing",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "deeppink"}}
                            "#'demo.notebook.highchart-step-missing/ds"]}}
           {:out "",
            :id :f020fe4d-80c4-49b9-8dd9-8641a2ad20b5,
            :code "(def ds-step\n  (tc/add-column\n   ds\n   :ind\n   (map-indexed (fn [idx p]\n                  (cond\n                    (and (> idx 20) (< idx 40))\n                    nil\n                    :else\n                    (- p 2.5))) (:close ds))))",
            :ns "demo.notebook.highchart-step-missing",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "deeppink"}}
                            "#'demo.notebook.highchart-step-missing/ds-step"]}}
           {:out "2024-11-21T22:55:34.675974884Z INFO LOG nuc12 dali.store.file(23,7) - writing .data/public/dali/VSe2J.transit-json\n",
            :id :6228f959-324c-48da-a3d7-bc22d9f4aa25,
            :code "(plot/highstock-ds\n env {:style {:width \"600px\"\n              :height \"300px\"}\n      :charts [{:bar {:type :ohlc\n                      :mode :candle}\n                :ind {:type :step\n                      :color \"red\"}}\n               {:volume :column}]}\n ds-step)",
            :ns "demo.notebook.highchart-step-missing",
            :result ^{:dali true}
                    {:viewer-fn rtable.viewer.highcharts/highstock,
                     :transform-fn rtable.transform.highcharts/load-and-transform-highcharts,
                     :data {:style {:width "600px",
                                    :height "300px"},
                            :class "",
                            :charts [{:bar {:type :ohlc,
                                            :mode :candle},
                                      :ind {:type :step,
                                            :color "red"}}
                                     {:volume :column}],
                            :load {:id "VSe2J",
                                   :url "/r/dali/VSe2J.transit-json",
                                   :filename "VSe2J.transit-json",
                                   :fmt "transit-json"}}}}],
 :meta {:id :6617a13f-53ef-4c7c-a563-9766cf6efd80,
        :eval-time "2024-11-21T22:55:34.677702869Z",
        :ns "demo.notebook.highchart-step-missing",
        :java "19.0.2",
        :clojure "1.11.1"}}
