{:name "cheetah-grid"
 ; build
 :lazy true
 :depends-on #{:techml-dataset-cljs}
 :cljs-namespace [rtable.cheetah]
 :cljs-ns-bindings {'rtable.cheetah  {'cheetah rtable.cheetah/cheetah
                                    
                                    }}

 ;
 }