{:name "dali-dataset-transformer"
 ; build
 :lazy true
 :depends-on #{:techml-dataset-cljs  :dali}
 :cljs-namespace [dali.transform.transit]
 :cljs-ns-bindings {'dali.transform.transit {'load-transit dali.transform.transit/load-transit}}

 ;
 }


