{:name "rtable-cheetah"
 ; build
 :lazy true
 :depends-on #{:techml-dataset-cljs  :dali}
 :cljs-namespace [rtable.viewer.cheetah]
 :cljs-ns-bindings {'rtable.viewer.cheetah {'cheetah rtable.viewer.cheetah/cheetah
                                            'cheetah-ds rtable.viewer.cheetah/cheetah-ds}}

 ;
 }