{:name "rtable-vega"
 ; build
 :lazy true
 :cljs-namespace [rtable.viewer.vega]
 :cljs-ns-bindings {'rtable.viewer.vega {'vega rtable.viewer.vega/vega
                                         'vegalite rtable.viewer.vega/vegalite}}
 
 
;
 }
