{:name "rtable-highcharts"
 ;build 
 :lazy true
 :depends-on #{:dali-dataset-transformer}

 :cljs-namespace [rtable.viewer.highcharts-render
                  rtable.viewer.highcharts
                  rtable.transform.highcharts]
 :cljs-ns-bindings {'rtable.viewer.highcharts-render {'render-highchart rtable.viewer.highcharts-render/render-highchart
                                                      'render-highstock rtable.viewer.highcharts-render/render-highstock
                                                      'add-annotations rtable.viewer.highcharts-render/add-annotations
                                                      'add-boost rtable.viewer.highcharts-render/add-boost
                                                      'add-debugger rtable.viewer.highcharts-render/add-debugger}
                    'rtable.viewer.highcharts {'highstock rtable.viewer.highcharts/highstock
                                               'highchart rtable.viewer.highcharts/highchart}
                    'rtable.transform.highcharts {'transform-highcharts rtable.transform.highcharts/transform-highcharts
                                                  'load-and-transform-highcharts rtable.transform.highcharts/load-and-transform-highcharts
                                                  'transform-highcharts-sync rtable.transform.highcharts/transform-highcharts-sync}}
 ; run
 :theme {:available  {:highcharts {true ["highcharts/css/highcharts.css"
                                         "highcharts/css/annotations/popup.css"
                                         "highcharts/css/stocktools/gui.css"
                                         "rtable/highcharts.css" ; custom settings
                                         ]
                                   "dark-unica" ["highcharts/css/themes/dark-unica.css"]
                                   "grid-light" ["highcharts/css/themes/grid-light.css"]
                                   "sand-signika" ["highcharts/css/themes/sand-signika.css"]}}
         ; by default no css
         ; enabling css turns on styled mode, even though doc says it does not.
         :current {:highcharts false}}}
