{:name "rtable-cheetah"
 ; build
 :lazy true
 :depends-on #{:techml-dataset-cljs}
 :cljs-namespace [rtable.render.cheetah]
 :cljs-ns-bindings {'rtable.render.cheetah  {'cheetah rtable.render.cheetah/cheetah
                                             'cheetah-ds rtable.render.cheetah/cheetah-ds}}

 ;
 }