{:name "rtable-highcharts"
 ;build 
 :lazy true
 :depends-on #{:techml-dataset-cljs}

 :cljs-namespace [rtable.render.highcharts-render
                  ui.highcharts
                  rtable.render.highcharts]
 :cljs-ns-bindings {; TODO: remove ui.highcharts. 
                    ; this requires that quanta-studio no longer uses this syntax.
                    'ui.highcharts {'highchart ui.highcharts/highchart
                                    'highstock ui.highcharts/highstock
                                    'add-annotations rtable.render.highcharts-render/add-annotations
                                    'add-boost rtable.render.highcharts-render/add-boost
                                    'add-debugger rtable.render.highcharts-render/add-debugger}
                    'rtable.render.highcharts {'highstock rtable.render.highcharts/highstock 
                                               'highstock-ds rtable.render.highcharts/highstock-ds}}
 ; run
 :theme {:available  {:highcharts {true ["highcharts/css/highcharts.css"
                                         "highcharts/css/annotations/popup.css"
                                         "highcharts/css/stocktools/gui.css"]
                                   "dark-unica" ["highcharts/css/themes/dark-unica.css"]
                                   "grid-light" ["highcharts/css/themes/grid-light.css"]
                                   "sand-signika" ["highcharts/css/themes/sand-signika.css"]}}
         :current {:highcharts true}}}
