{:name "rtable-pixi"
 ;build 
 :lazy true
 :depends-on #{:techml-dataset-cljs  :dali}
 :cljs-namespace [rtable.viewer.pixi]
 :cljs-ns-bindings {'rtable.viewer.pixi {'pixi rtable.viewer.pixi/pixi}}
 ;
 }
