{:name "rtable-homemade"
 ; build
 :lazy true
 :depends-on #{:techml-dataset-cljs}
 :cljs-namespace [rtable.viewer.rtable
                  rtable.transform.rtable]
 :cljs-ns-bindings {'rtable.viewer.rtable {'rtable rtable.viewer.rtable/rtable}
                    'rtable.transform.rtable {'transform-rtable rtable.transform.rtable/transform-rtable}}

 ;
 }