; saved on 2024-11-22 16:13:42
{:content [{:out "",
            :id :733e23b3-b1c7-41c2-aded-ba796dc990f5,
            :code "(ns demo.notebook.highchart-barcolor\n  (:require\n   [tablecloth.api :as tc]\n   [rtable.plot :as plot]\n   [demo.random-bars :refer [random-bar-ds]]\n   [demo.env :refer [env]]))",
            :ns "demo.notebook.highchart-barcolor",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "grey"}}
                            "nil"]}}
           {:out "",
            :id :ea0fe39e-6a61-4875-baa5-4ce4f75539e7,
            :code "(def ds\n  (random-bar-ds 30))",
            :ns "demo.notebook.highchart-barcolor",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "deeppink"}}
                            "#'demo.notebook.highchart-barcolor/ds"]}}
           {:out "",
            :id :d2844fe3-2472-46c0-b01f-80c89184a67a,
            :code "(def ds-signal \n  (tc/add-column ds \n                 :signal \n                 (map (fn [p] \n                        (if (> (rand-int 100) 90 )\n                            true\n                            false)) (:close ds))))",
            :ns "demo.notebook.highchart-barcolor",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "deeppink"}}
                            "#'demo.notebook.highchart-barcolor/ds-signal"]}}
           {:out "2024-11-22T21:13:41.943592325Z INFO LOG nuc12 dali.store.file(23,7) - writing .data/public/dali/iEO4U.transit-json\n",
            :id :60a2f59b-364d-466f-85ce-eda9a4adaacc,
            :code "(plot/highstock-ds\n env {:style {:width \"600px\"\n              :height \"300px\"}\n      :charts [{:bar {:type :ohlc\n                      :mode :candle\n                      :barcolor {:column :signal\n                                 :color {true \"green-5\"}\n                                 }\n                      }}\n               {:volume :column}]}\n ds-signal)",
            :ns "demo.notebook.highchart-barcolor",
            :result ^{:dali true}
                    {:viewer-fn rtable.viewer.highcharts/highstock,
                     :transform-fn rtable.transform.highcharts/load-and-transform-highcharts,
                     :data {:style {:width "600px",
                                    :height "300px"},
                            :class "",
                            :charts [{:bar {:type :ohlc,
                                            :mode :candle,
                                            :barcolor {:column :signal,
                                                       :color {true "green-5"}}}}
                                     {:volume :column}],
                            :load {:id "iEO4U",
                                   :url "/r/dali/iEO4U.transit-json",
                                   :filename "iEO4U.transit-json",
                                   :fmt "transit-json"}}}}
           {:out "",
            :id :7fb556c2-7638-40bc-96f8-ef10673ec30c,
            :code ";ds-signal\n\n(tc/select-rows ds-signal #(:signal %))",
            :ns "demo.notebook.highchart-barcolor",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.text/text,
                     :data {:text "_unnamed [3 7]:\n\n|                       :date |       :close |        :open |        :high |         :low |        :volume | :signal |\n|-----------------------------|-------------:|-------------:|-------------:|-------------:|---------------:|---------|\n| 2024-10-25T21:13:41.924274Z |  99.89753558 | 100.00350906 | 101.26201808 |  98.89499821 | 24610.24185409 |    true |\n| 2024-10-29T21:13:41.924266Z |  99.93237554 |  99.55315775 | 101.30158904 |  98.70680411 | 52770.18911772 |    true |\n| 2024-11-01T21:13:41.924261Z | 100.84055245 | 100.65342290 | 101.63422997 | 100.06887770 | 66598.30845784 |    true |\n"}}}],
 :meta {:id :b706c276-040e-4f4f-9561-b62fefb01e4f,
        :eval-time "2024-11-22T21:13:42.006656278Z",
        :ns "demo.notebook.highchart-barcolor",
        :java "19.0.2",
        :clojure "1.11.1"}}
