{:paths ["src"
         "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.12.4"}
  potemkin/potemkin {:mvn/version "0.4.7"} ; api namespace consolidation.
  io.helins/canvas {:mvn/version "2.0.0-beta0"} ; https://github.com/helins/canvas.cljs
  ; source code heavily modified, but based on this one:
  ;org.clojars.frozenlock/reagent-table {:mvn/version "0.1.6"}
  com.pitch/uix.core {:mvn/version "1.4.9"}
  com.pitch/uix.dom {:mvn/version "1.4.9"}
  io.github.clojure-quant/techml-dataset-cljs {:mvn/version "0.3.31"} ; tml transit.json export
  org.pinkgorilla/tick-transit {:mvn/version "0.1.7"} ; tick-transit-encoding
  org.pinkgorilla/dali {:mvn/version "0.8.50"}
  org.pinkgorilla/css-theme {:mvn/version "0.1.13"} ; aggrid uses theme loader
  scicloj/tablecloth {:mvn/version "8.016"} ; only for notebooks
  }
 :aliases
 {; github ci  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}
;
  }}

