; saved on 2024-11-15 13:40:31
{:content [{:out "",
            :id :e3882dca-86b6-43c3-befd-04c257590481,
            :code "(ns demo.notebook.highchart\n  (:require\n   [tablecloth.api :as tc]\n   [rtable.plot :as plot]\n   [demo.random-bars :refer [random-bar-ds]]\n   [demo.env :refer [env]]))",
            :ns "demo.notebook.highchart",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "grey"}}
                            "nil"]}}
           {:out "",
            :id :0f0c2bd2-2532-4d6c-a932-e27e194682c2,
            :code "(def ds\n  (random-bar-ds 100))",
            :ns "demo.notebook.highchart",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "deeppink"}}
                            "#'demo.notebook.highchart/ds"]}}
           {:out "2024-11-15T18:40:31.916696974Z INFO LOG nuc12 dali.store.file(23,7) - writing .data/public/dali/V4yKV.transit-json\n",
            :id :3ff68096-a44e-4a57-ae85-5aa2545352b1,
            :code "(plot/highstock-ds\n env {:style {:width \"600px\"\n              :height \"300px\"}\n      :charts [{:close {:type :line}\n                :bar {:type :ohlc\n                      :mode :candle}}\n               {:volume :column}]}\n ds)",
            :ns "demo.notebook.highchart",
            :result ^{:dali true}
                    {:viewer-fn rtable.viewer.highcharts/highstock,
                     :transform-fn rtable.transform.highcharts/load-and-transform-highcharts,
                     :data {:style {:width "600px",
                                    :height "300px"},
                            :class "",
                            :charts [{:close {:type :line},
                                      :bar {:type :ohlc,
                                            :mode :candle}}
                                     {:volume :column}],
                            :load {:id "V4yKV",
                                   :url "/r/dali/V4yKV.transit-json",
                                   :filename "V4yKV.transit-json",
                                   :fmt "transit-json"}}}}],
 :meta {:id :d0ce6ec7-696e-4dce-ab01-f8d52290d11b,
        :eval-time "2024-11-15T18:40:31.918132806Z",
        :ns "demo.notebook.highchart",
        :java "19.0.2",
        :clojure "1.11.1"}}
