; saved on 2024-11-13 20:12:46
{:content [{:out "",
            :id :90462a03-7ab2-416d-bd44-b5ccca925e5b,
            :code "(ns demo.notebook.highchart\n  (:require\n   [tablecloth.api :as tc]\n   [rtable.plot :as plot]\n   [demo.random-bars :refer [random-bar-ds]]\n   [demo.env :refer [env]]))",
            :ns "demo.notebook.highchart",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "grey"}}
                            "nil"]}}
           {:out "",
            :id :7b4ebe3c-cdae-4657-8073-155cb020ef01,
            :code "(def ds\n  (random-bar-ds 100))",
            :ns "demo.notebook.highchart",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "deeppink"}}
                            "#'demo.notebook.highchart/ds"]}}
           {:out "2024-11-14T01:12:46.765855115Z INFO LOG nuc12 dali.store.file(23,7) - writing .data/public/dali/MIh5U.transit-json\n",
            :id :085b427d-07d2-4e01-89cf-1bf2a0d35333,
            :code "(plot/highstock-ds\n env {:style {:width \"600px\"\n              :height \"300px\"}\n      :charts [{:close {:type :line}\n                :bar {:type :ohlc\n                      :mode :candle}}\n               {:volume :column}]}\n ds)",
            :ns "demo.notebook.highchart",
            :result ^{:dali true}
                    {:viewer-fn rtable.viewer.highcharts/highstock,
                     :transform-fn rtable.transform.highcharts/load-and-transform-highcharts,
                     :data {:style {:width "600px",
                                    :height "300px"},
                            :class "",
                            :charts [{:close {:type :line},
                                      :bar {:type :ohlc,
                                            :mode :candle}}
                                     {:volume :column}],
                            :load {:id "MIh5U",
                                   :url "/r/dali/MIh5U.transit-json",
                                   :filename "MIh5U.transit-json",
                                   :fmt "transit-json"}}}}
           {:out "",
            :id :319f226f-1dbd-42b8-a569-0c3a820b22d4,
            :code "(def ds-step\n  (tc/add-column\n   ds\n   :ind\n   (map-indexed (fn [idx p]\n                  (cond\n                    (and (> idx 20) (< idx 40))\n                    nil\n                    :else\n                    (- p 2.5))) (:close ds))))",
            :ns "demo.notebook.highchart",
            :result ^{:dali true}
                    {:viewer-fn dali.viewer.hiccup/hiccup,
                     :data [:span
                            {:style {:color "deeppink"}}
                            "#'demo.notebook.highchart/ds-step"]}}
           {:out "2024-11-14T01:12:46.771741436Z INFO LOG nuc12 dali.store.file(23,7) - writing .data/public/dali/gUK4_.transit-json\n",
            :id :da38af2c-fe86-4967-a5c3-6aa054affdfa,
            :code "(plot/highstock-ds\n env {:style {:width \"600px\"\n              :height \"300px\"}\n      :charts [{:bar {:type :ohlc\n                      :mode :candle}\n                :ind {:type :step\n                      :color \"red\"}}\n               {:volume :column}]}\n ds-step)",
            :ns "demo.notebook.highchart",
            :result ^{:dali true}
                    {:viewer-fn rtable.viewer.highcharts/highstock,
                     :transform-fn rtable.transform.highcharts/load-and-transform-highcharts,
                     :data {:style {:width "600px",
                                    :height "300px"},
                            :class "",
                            :charts [{:bar {:type :ohlc,
                                            :mode :candle},
                                      :ind {:type :step,
                                            :color "red"}}
                                     {:volume :column}],
                            :load {:id "gUK4_",
                                   :url "/r/dali/gUK4_.transit-json",
                                   :filename "gUK4_.transit-json",
                                   :fmt "transit-json"}}}}],
 :meta {:id :d3f16459-5931-4ae4-9002-1ff8314fa2eb,
        :eval-time "2024-11-14T01:12:46.773502487Z",
        :ns "demo.notebook.highchart",
        :java "19.0.2",
        :clojure "1.11.1"}}
