{:extension/name :rtable-cheetah
 ; build
 :cljs/module :rtable-cheetah
 :cljs/depends-on #{:main}
 :cljs/namespace [rtable.viewer.cheetah
                  rtable.transform.cheetah]
 :cljs/ns-bindings {'rtable.viewer.cheetah {'cheetah rtable.viewer.cheetah/cheetah
                                            'cheetah-ds rtable.viewer.cheetah/cheetah-ds}
                    'rtable.transform.cheetah {'load-and-transform-cheetah rtable.transform.cheetah/load-and-transform-cheetah}
                    
                    
                    }

 ;
 }