{:name "demo-rtable"
 :lazy true ; must be true, since it depends on techml-dataset-cljs
 :depends-on #{:techml-dataset-cljs :rtable-aggrid}
 :cljs-routes  {; reagent-table
                "" demo.page.reagent-table-complex/page-complex-menu
                "rt-simple" demo.page.reagent-table-simple/page-simple-menu
                "rt-simple2" demo.page.reagent-table-simple2/page-simple2-menu
                "rt-simple2-nomenu" demo.page.reagent-table-simple2/page-simple2
                ; html-table
                "html-static" demo.page.htmltable-static/page-static-menu
                "html-static-full" demo.page.htmltable-static/page-static-full-menu
                ; rtable
                "rtable-home-made" demo.page.homemade/page-table-menu
                ; tml dataset
                "tml" demo.page.tml/page
                "tml-rtable" demo.page.tml-rtable/page
                ; aggrid
                "aggrid" demo.page.aggrid/page
                "aggrid-tml" demo.page.aggrid-tml/page
                
                }
 :sci-cljs-ns [demo.helper.ui
               demo.helper.menu
               demo.helper.format
               demo.table.columns
               demo.table.columns2
               demo.table.data
               demo.table.data2
               demo.page.main
               demo.page.reagent-table-simple
               demo.page.reagent-table-simple2
               demo.page.htmltable-static
               demo.page.tml]}